@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #333;
}

.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button {
    width: 66px;
    padding: 15px;
    margin: 0 3px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
    box-sizing: border-box;
    color: whitesmoke;
    background-color: #3d424a;
}

.operator:hover {
    background-color: #647b86;
}

.num:hover {
    background-color: #555;
}

.row {
    margin: 8px 0;
    text-align: center;
}

.input {
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #73758a;
    text-align: left;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.text-center {
    text-align: center;
    color: #abadb9;
}

.operator {
    background-color: #0e324f;
    color: #fff;
}

.equal {
    background-color: #155d96;
    color: #fff;
}

.equal:hover {
    background-color: #0989f1;
}

.backspace {
    width: 66px;
    padding: 15px 0;
    margin: 0 2px;
    margin-top: 1px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
    box-sizing: border-box;
}

.button span {
    line-height: 0.1;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}